<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Nueva categoria" [options]="false">
      <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="cat_name" placeholder="Nombre"
              formControlName="cat_name">
          </div>
          <div class="form-group col-md-6">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="cat_description" rows="3"
              formControlName="cat_description" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="status">Estado</label>
            <select class="form-control" id="cat_status" formControlName="cat_status">
              <option value="true">Activado</option>
              <option value="false">Desactivado</option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

      </form>
    </app-card>
  </div>
</div>
