<div class="row">


  <div class="col-xl-12">
    <app-card cardTitle="Usuarios" [options]="false" blockClass="table-border-style">
      <div>
        <a [routerLink]="['/userCreate']" class="btn btn-primary mb-3">Nuevo usuario</a>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Rol</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.role }}</td>
              <td>
                <!-- <button (click)="selectMaterial(material)" class="btn btn-warning mb-3 me-2">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteMaterial(material.id)" class="btn btn-danger mb-3">
                  <i class="fa fa-trash"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
