<app-base-layout>
<div class="cart-container">
  <h2>Carrito de Compras</h2>
  <div *ngIf="groupedCartItemsArray.length === 0">
    <p>El carrito está vacío.</p>
  </div>
  <div *ngIf="groupedCartItemsArray.length > 0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of groupedCartItemsArray">
          <td>
            <div class="cart-item">
              <img [src]="item.image" alt="{{ item.name }}" class="cart-item-image">
              <span class="cart-item-name">{{ item.name }}</span>
            </div>
          </td>
          <td>{{ item.quantity || 1 }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ (item.price * (item.quantity || 1)) | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</app-base-layout>
