<!--home.component.html-->
<!--Se actualizara la lista de productos a mostrar-->
<app-base-layout>
  <div class="col-12">
    <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let slide of slides; let i = index" [attr.data-target]="'#carouselExampleIndicators'"
          [attr.data-slide-to]="i" [class.active]="i === currentSlide"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === currentSlide">
          <img [src]="slide.image" class="d-block w-100" [alt]="slide.caption">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{slide.caption}}</h5>
            <p>{{slide.description}}</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#" role="button" (click)="previousSlide($event)">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#" role="button" (click)="nextSlide($event)">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="text-center mb-4">
    <h2 [ngClass]="{'text-primary': isTitleEcommerce, 'text-secondary': !isTitleEcommerce}">
      {{ isTitleEcommerce ? 'PRODUCTOS RECOMENDADOS' : 'PRODUCTOS EN GENERAL' }}
    </h2>
  </div>
  <div class="col-md-4 mb-4" *ngFor="let product of products.slice(0, 9); let i = index">
    <div class="product-card card h-100">
      <img [src]="product.proUrlImage" class="card-img-top product-image" alt="Producto"
        (click)="viewProductDetail(product)" style="cursor: pointer;">
      <div class="card-body d-flex flex-column">
        <p class="card-title mb-2" style="font-size: large;">{{ product.proName }}</p>
        <p class="card-text mb-2" style="font-size: large;">{{ product.proDescription }}</p>

        <p *ngIf="promociones[product.id]?.promPercentage" style="font-size: large; color: red;">
          Descuento: {{ promociones[product.id].promPercentage }} %
        </p>
        <div class="star-rating">
          <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fas fa-star"
            [ngClass]="{'active': star <= product.proAverageRating}">
          </i>
        </div>
        <p class="price mt-auto" style="font-size: x-large;">
          <span *ngIf="promociones[product.id]?.promPercentage; else noDiscount">
            <span style="text-decoration: line-through; color: grey;">
              S/. {{ product.proUnitPrice }}
            </span>
            <span style="color: red; margin-left: 10px;">
              S/. {{ product.proUnitPrice - (product.proUnitPrice * promociones[product.id].promPercentage / 100.0) }}
            </span>
          </span>
          <ng-template #noDiscount>
            S/. {{ product.proUnitPrice }}
          </ng-template>
        </p>
        <button class="btn btn-secondary mt-3" (click)="viewProductDetail(product)">
          <i class="fas fa-shopping-cart"></i> Ver detalle
        </button>
      </div>
    </div>
  </div>
</app-base-layout>