.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  margin: auto;
}

.modal-header .close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: red;
  font-size: 1.5rem;
}

.modal-content {
  border-radius: 8px;
  overflow: hidden;
}

.modal-body {
  padding: 22px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  border-top: 1px solid #e9ecef;
}
