<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Promociones" [options]="false" blockClass="table-border-style">
      <div>
        <a [routerLink]="['/promotionsCreate']" type="button" class="btn btn-primary">Nuevo</a>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Descuento</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Cierre</th>
              <th>Descripción</th>
              <th>Imagen</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let promotion of promotions; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ promotion.promPercentage }} %</td>
              <td>{{ promotion.promStartdate }}</td>
              <td>{{ promotion.promEnddate }}</td>
              <td>{{ promotion.promDescription }}</td>
              <td>
                <img [src]="promotion.promUrlImage" style="max-width: 90px;" class="card-img-top promotion-image"
                  alt="Promocion">
                <span *ngIf="!promotion.promUrlImage">No existe</span>
              </td>
              <td>{{ promotion.promStatus ? 'Activado' : 'Desactivado' }}</td>
              <td>
                <button type="button" class="btn btn-warning me-2 mb-2"
                [routerLink]="['/promotionsEdit', promotion.id]"  ><i class="fa fa-edit"></i></button>
                <!--
                <button type="button" class="btn btn-danger mb-2"
                ><i class="fa fa-trash"></i></button>
                -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <ng-template #deleteContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirmar</h4>
    </div>
    <div class="modal-body">
      <h4 style="text-align: center;">¿Estás seguro que deseas eliminar la promoción  {{ selectedPromotion?.promDescription }}? </h4>
      <ul>
        <p style="text-align: center;">
          <i class="fas fa-exclamation-triangle" style="font-size: 50px; color: red;"></i>
        </p>
      </ul>
    </div>
    <div class="modal-footer" style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deletePromotion(selectedPromotion.id)">Eliminar</button>
    </div>
  </ng-template>

</div>
