<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Editar material" [options]="false">
      <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="nombre" formControlName="name"/>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Stock</label>
            <input type="number" class="form-control" id="inputPassword4" placeholder="stock" formControlName="stock"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Precio unitario</label>
          <input type="number" class="form-control" id="inputAddress" placeholder="precio unitario" formControlName="unitPrice"/>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlSelect1">Unidad</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="unit">
                <option value="m">Metros</option>
                <option value="cm">Centimetros</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <input type="text" class="form-control hidden" id="inputPassword4" placeholder="stock" formControlName="status"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </app-card>
  </div>
</div>
