/* Estilo para alinear la sección con el detalle */
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1200px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Ajusta el margen superior para alinear con la sección de detalles */
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.info-section {
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-header h5 {
  margin: 0;
}

.section-header i {
  transition: transform 0.3s;
}

.section-header i.rotate {
  transform: rotate(180deg);
}

/* Estilo de los títulos de las secciones */
h6 {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* Botón para cerrar productos */
.close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  color: #ff4d4d;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ff1a1a;
}

.sales-details {
  width: 30%;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 40px;
}

.summary {
  margin-bottom: 20px;
}

.summary-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.free-shipping {
  font-weight: bold;
  color: #009879;
  margin-bottom: 20px;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: bold;
}

/* Mini product list styles */
.mini-product-list {
  margin-top: 20px;
}

.mini-product-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.mini-product-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.mini-product-details {
  flex: 1;
}

.mini-product-details h5 {
  font-size: 0.9em;
  margin: 0;
}

.mini-product-details p {
  font-size: 0.8em;
  margin: 0;
}

.voucher-upload {
  margin-top: 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #1ca538;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.voucher-preview img {
  width: 100px;
  margin-top: 10px;
}

/* Estilos generales */
.section-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.section-header {
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.btn-ok {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-ok:hover {
  background-color: darkgrey;
}

/* Divider styles */
.contact-info-container, .personal-info-container, .address-info-container {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd; /* Add a line under each section */
}

.detail-group {
  position: relative;
  margin-bottom: 20px;
}

label {
  position: absolute;
  top: -15px;
  left: 20px;
  background-color: white;
  padding: 0 10px;
  font-size: 0.8em;
  color: #333;
}

input.form-control {
  width: calc(100% - 30px); /* Ajusta el ancho para dejar espacio para el check */
  padding: 15px;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  font-size: 1.1em;
  background-color: #f9f9f9; /* Color de fondo para los campos deshabilitados */
}

.check-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: green; /* Color del check verde */
  visibility: visible; /* Mostrar el check siempre */
}

/* Estilos para la sección de Envío */
.free-shipping-info {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #009879; /* Color verde para indicar envío gratis */
  margin-top: 10px;
}

.free-shipping-info i {
  font-size: 1.2em;
  margin-right: 8px;
}
/* Estilos para la sección de Pago */
.payment-methods {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 45%; /* Ajustar el tamaño para tener dos divs por fila */
}

.payment-option:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.payment-icon {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #007bff; /* Cambia el color del ícono */
}

.payment-details h5 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.payment-details p {
  margin: 5px 0 0 0;
  font-size: 0.9em;
  color: #666;
  text-align: center;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Mostrar overlay y modal cuando se abre */
.modal-overlay.show {
  display: flex;
}

/* Estilos del modal */
.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

/* Estilo del encabezado del modal */
.modal-header {

  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
}

.modal-title {
  font-size: 1.6em;
  margin: 0;
  font-weight: bold;
}

/* Cuerpo del modal */
.modal-body {
  padding: 20px;
}

.modal-body p {
  font-size: 1.1em;
  margin: 15px 0;
}

/* Estilo del QR */
.qr-image {
  max-width: 150px;
  margin: 20px auto;
}

/* Pie del modal */
.modal-footer {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Estilo del botón de cierre */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #ff5b5b;
}

/* Estilo del contador */
#timer-yape, #timer-bcp {
  font-size: 1.2em;
  font-weight: bold;
  color: #dc3545;
}

.detail-group {
  margin-bottom: 15px;
}

.form-label {
  font-size: 0.9em; /* Tamaño más pequeño para la etiqueta */
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.custom-select {
  width: 100%; /* Ajusta el ancho para que ocupe el 100% del contenedor */
  padding: 6px 12px; /* Reduce el padding para que el select sea más pequeño */
  font-size: 0.9em; /* Reduce el tamaño de la fuente */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde suave */
  background-color: #f5f5f5; /* Fondo gris claro */
  appearance: none; /* Remueve el estilo predeterminado del select */
  -webkit-appearance: none; /* Remueve el estilo predeterminado en Safari */
  -moz-appearance: none; /* Remueve el estilo predeterminado en Firefox */
  background-image: url('data:image/svg+xml;base64,...'); /* Icono de flecha personalizada */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.custom-select:hover, .custom-select:focus {
  border-color: #666; /* Cambia el color del borde cuando se enfoca o pasa el mouse */
}

.custom-select option {
  font-size: 0.9em; /* Ajusta el tamaño de las opciones */
  padding: 5px; /* Reduce el padding en las opciones */
}