<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Ventas" [options]="false" blockClass="table-border-style">
      <!-- <div>
        <button (click)="openMaterialModal()" class="btn btn-primary mb-3">Nuevo venta</button>
      </div> -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ order.customer.custFirstName }}</td>
              <td>{{ order.ord_date }}</td>
              <td>S/{{ order.ord_total }}</td>
              <td>
                <b [ngStyle]="{
                  'border-radius': '10px',
                  'padding': '5px',
                  'background-color': (order.ord_status === 1) ? '#FFA627' : (order.ord_status === 2) ? '#1A85FF' : (order.ord_status === 3) ? 'red' : (order.ord_status === 4) ? '#23BD9E' : 'transparent',
                  'color': 'white'
                }">
                  {{ order.ord_status === 1 ? 'Pendiente' : order.ord_status === 2 ? 'Pagado' : order.ord_status === 3 ? 'Observado' : order.ord_status === 4 ? 'Completado' : '' }}
                </b>
              </td>
              <td>
                <button (click)="selectOrder(order)" class="btn btn-warning mb-3 me-2">
                  <i class="fa fa-eye"></i>
                </button>
                <button *ngIf="order.ord_status === 1" (click)="openReviewModal(order)" class="btn btn-success mb-3">
                  Validar
                </button>
                <button *ngIf="order.ord_status === 2" (click)="openCompletedModal(order)" class="btn btn-primary mb-3">
                  Completar
                </button>
                <button *ngIf="order.ord_status === 3" (click)="openReviewModal(order)" class="btn btn-success mb-3">
                  Validar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>


<div id="orderModal" class="modal" [ngStyle]="{'display': modalOrderDetail ? 'block' : 'none'}">
  <div class="modal-content modal-content-create">
    <span class="close" (click)="closeOrderModal()">&times;</span>
    <h4>Detalle de venta</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>N°</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </thead>
        <tr *ngFor="let detailOrder of detailOrders; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ detailOrder.customer }}</td>
          <td>{{ detailOrder.producto }}</td>
          <td>{{ detailOrder.quantity }}</td>
          <td>{{ detailOrder.price }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="orderReviewModal" class="modal" [ngStyle]="{'display': modalReviewVisible ? 'block' : 'none'}">
  <div class="modal-content modal-content-voucher">
    <span class="close" (click)="closeReviewModal()">&times;</span>
    <h4>Comprobante de pago</h4>
    <img [src]="urlReviewVisible" alt="Order Image" class="responsive-image">
    <div class="modal-buttons">
      <button (click)="ChangeStatusOrder(2)" class="btn btn-success mb-3">Confirmar</button>
      <button (click)="openObservedModal()" class="btn btn-warning mb-3">Observar</button>
      <button (click)="closeReviewModal()" class="btn btn-danger mb-3">Cancelar</button>
    </div>
  </div>
</div>

<div id="orderReviewModal" class="modal" [ngStyle]="{'display': modalCompletedVisible ? 'block' : 'none'}">
  <div class="modal-content modal-content-create" style="text-align: center;">
    <span class="close" (click)="closeCompletedModal()">&times;</span>
    <h4>Comprobante de pago</h4>
    <p>¿Estás seguro que la orden N° {{orderSelected?.ord_id}} fue entregada con éxito?</p>
    <div style="display: flex; justify-content: space-between;">
      <button (click)="closeCompletedModal()" class="btn btn-danger mb-3" style="flex: 1; margin-right: 5px;">
        Cancelar
      </button>
      <button (click)="ChangeStatusOrder(4)" class="btn btn-success mb-3" style="flex: 1; margin-left: 5px;">
        Confirmar Pedido
      </button>
    </div>
  </div>
</div>

<div id="orderObservedModal" class="modal" [ngStyle]="{'display': modalObservedVisible ? 'block' : 'none'}">
  <div class="modal-content modal-content-create" style="text-align: center;">
    <span class="close" (click)="closeObservedModal()">&times;</span>
    <h4>Voucher Observado</h4>
    <p>la confirmacion quedara en espera, por favor, comunicarse con el cliente a este numero: "{{orderSelected?.customer.custCellphone}}" o al correo:"{{orderSelected?.customer.custEmail}}"</p>
    <div style="display: flex; justify-content: space-between;">
      <button (click)="closeObservedModal()" class="btn btn-danger mb-3" style="flex: 1; margin-right: 5px;">
        Cerrar
      </button>
    </div>
  </div>
</div>
