<div class="container my-5">
    <div class="card">
      <div class="card-header bg-info text-white">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="card-title">LISTA DE PRODUCTOS</h1>
          <a routerLink="/product/create">
            <button class="btn btn-primary">Nuevo</button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>N°</th>
              <th>Producto</th>
              <th>Descripción</th>
              <th>Precio Unitario</th>
              <th>Tamaño Plataforma</th>
              <th>Tamaño Tacón</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ product.proName }}</td>
              <td>{{ product.proDescription }}</td>
              <td>{{ product.proUnitPrice }}</td>
              <td>{{ product.proSizePlatform }}</td>
              <td>{{ product.proSizeTacon }}</td>
              <td>
                <a routerLink="['/product/edit', product.id]" class="btn btn-primary">Editar</a>
                 <!-- <button (click)="deleteProduct(product.id)" class="btn btn-danger">Eliminar</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


