<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Materiales" [options]="false" blockClass="table-border-style">
      <div>
        <a [routerLink]="['/materialCreate']" class="btn btn-primary mb-3">Nuevo material</a>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Material</th>
              <th>Stock</th>
              <th>Precio unitario</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of materials; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ material.name }}</td>
              <td>{{ material.stock }} unidades</td>
              <td>{{ material.unitPrice }}</td>
              <td>
                <button (click)="selectMaterial(material)" class="btn btn-warning mb-3 me-2">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="openDeleteModal(material)" class="btn btn-danger mb-3">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<!-- Modal para eliminar usuario -->
<div id="deleteModal" class="modal" [ngStyle]="{'display': modalDeleteVisible ? 'block' : 'none'}">
  <div class="modal-content modal-content-delete">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h4>Confirmación de eliminación</h4>
    <p>¿Estás seguro de que deseas eliminar el material <b>{{ selectedMaterial?.name }}</b>?</p>
    <div class="modal-buttons">
      <button (click)="deleteMaterial()" class="btn btn-warning">Eliminar</button>
      <button (click)="closeDeleteModal()" class="btn btn-danger">Cancelar</button>
    </div>
  </div>
</div>