<div class="row">


  <div class="col-xl-12">
    <app-card cardTitle="Materiales" [options]="false" blockClass="table-border-style">
      <div>
        <a [routerLink]="['/materialCreate']" class="btn btn-primary mb-3">Nuevo material</a>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Material</th>
              <th>Stock</th>
              <th>Precio unitario</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of materials; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ material.name }}</td>
              <td>{{ material.stock }}{{ material.unit }}</td>
              <td>{{ material.unitPrice }}</td>
              <td>
                <button (click)="selectMaterial(material)" class="btn btn-warning mb-3">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="selectMaterial(material)" class="btn btn-danger mb-3">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
