<!--base.layout.component.html-->
<!--Al seleccionar la opcion del nav se tiene que actualizar los productos que muestra la
el componente home.component.html-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <header class="row header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-auto logo-container">
            <img src="assets/images/logo-ecommerce.jpeg" alt="Logo" class="logo">
          </div>
          <div class="col icon-container">

            <div class="icon d-inline-block" *ngIf="loginResponse == 'Ingresar'">
              <i class="fas fa-user"></i>
              <span>
                <a [routerLink]="['/ecommersCreate']" class="btn btn-primary">
                  <span>{{ loginResponse }}</span>
                </a>
              </span>
            </div>
            <div class="icon d-inline-block" *ngIf="loginResponse !== 'Ingresar'">
              <i class="fas fa-user"></i>
              <span>
                <span style="color: white;">{{loginResponse}}</span>
              </span>
            </div>
            <div class="icon d-inline-block ml-3">
              <i class="fas fa-shopping-cart"></i>
              <span>
                <a [routerLink]="['/cart']" class="btn btn-primary">
                  <span>Productos</span>
                  <span class="badge badge-pill badge-danger">{{ cartItemCount }}</span>
                </a>
              </span>
            </div>
            <div class="icon d-inline-block ml-3">
              <i class="fas fa-train"></i>
              <span>
                <a [routerLink]="['/ecommers']" class="btn btn-primary">
                  <span>Envíos</span>
                </a>
              </span>
            </div>
            <div *ngIf="loginResponse !== 'Ingresar'" class="icon d-inline-block ml-3">
              <i class="fas fa-sign-out-alt"></i>
              <span>
                <button (click)="logoutcustomer()" class="btn btn-primary">
                  <span>Salir</span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item ms-3">
              <a class="nav-link" [routerLink]="['/ecommers']">Inicio</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" [routerLink]="['/ecommers']">Nosotros</a>
            </li>
            <li class="nav-item ms-3" *ngIf="isLoggedInCustomer">
              <a class="nav-link" [routerLink]="['/ecommers']" [queryParams]="{ recommendations: true }">Recomendaciones</a>
            </li>
            <li class="nav-item ms-3 dropdown">
              <form [formGroup]="numberForm" (ngSubmit)="onSubmit()">
                <select class="form-control me-2" formControlName="idcategoria">
                  <option [value]="null" selected disabled>Seleccione</option>
                  <option [value]="0">Ver todo</option>
                  <option *ngFor="let category of categories; let i = index" [value]="category.id">
                    {{ category.catName }}
                  </option>
                </select>
              </form>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" [routerLink]="['/ecommers']">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="row justify-content-center">
      <ng-content>
      </ng-content>
    </section>
    <br>
    <footer class="container-fluid bg-black text-center text-white">
      <div class="row">
        <div class="col-12 text-center"><br>
          <b class="copyright">El contenido de esta página web está protegido por copyright y es propiedad del grupo 5 ☺</b>
          <br> <b>2024</b><br>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
