<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Editar Producto" [options]="false" blockClass="table-border-style">
        <form [formGroup]="formGroupProduct" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col col-lg-6">
              <div class="row">
                <div class="form-group col-12">
                  <label for="proName" class="col-sm-3 col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="proName" formControlName="proName" name="proName" required>
                  <div *ngIf="formGroupProduct.controls['proName'].hasError('required') && formGroupProduct.controls['proName'].touched" class="text-danger">Nombre es obligatorio</div>
                </div>
                <div class="form-group col-6">
                  <label for="proUnitPrice" class="col-form-label">Precio unitario:</label>
                  <input type="number" class="form-control" id="proUnitPrice" formControlName="proUnitPrice" required>
                  <div *ngIf="formGroupProduct.controls['proUnitPrice'].hasError('required') && formGroupProduct.controls['proUnitPrice'].touched" class="text-danger">Precio Unitario es obligatorio</div>
                </div>
                <div class="form-group col-6">
                  <label for="categorySelect">Seleccionar Categoría</label>
                  <select formControlName="catId" id="categorySelect" class="col-sm-3 form-select" (change)="onSelectedCategory($event)">
                    <option *ngFor="let category of categories" [value]="category.id">
                      {{ category.catName }}
                    </option>
                  </select>
                  <div *ngIf="formGroupProduct.controls['catId'].hasError('required') && formGroupProduct.controls['catId'].touched" class="text-danger">Debe seleccionar obligatoria</div>
                </div>
                <div class="form-group col-6">
                  <label for="proSize" class="col-sm-3 col-form-label">Talla</label>
                  <select formControlName="proSize" id="proSize" class="col-sm-3 form-select">
                    <option> 33 </option>
                    <option> 37 </option>
                    <option> 39 </option>
                    <option> 40 </option>
                  </select>
                  <div *ngIf="formGroupProduct.controls['proSize'].hasError('required') && formGroupProduct.controls['proSize'].touched" class="text-danger">Talla es obligatorio</div>
                </div>
                <div class="form-group col-6">
                  <label for="proColor" class="col-sm-3 col-form-label">Color</label>
                  <input type="text" class="form-control" id="proColor" formControlName="proColor" >
                  <div *ngIf="formGroupProduct.controls['proColor'].hasError('required') && formGroupProduct.controls['proColor'].touched" class="text-danger">Color es obligatorio</div>
                </div>
                <div *ngIf="isWithTaco"  class="form-group col-6">
                  <label for="proSizePlatform" class="col-form-label">Numero Plataforma</label>
                  <select formControlName="proSizePlatform" id="proSizePlatform" class="col-sm-3 form-select">
                    <option> 0</option>
                    <option> 2</option>
                    <option> 4</option>
                  </select>
                 
                </div>
                <div *ngIf="isWithTaco" class="form-group col-6">
                  <label for="proSizeTaco" class="col-form-label">Numero taco</label>
                  <select formControlName="proSizeTaco" id="proSizeTacon" class="col-sm-3 form-select" required>
                    <option>2</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                  </select>
                </div>
                <div class="form-group col-6">
                  <label for="prostock" class="col-sm-3 col-lg-12 col-form-label">Stock</label>
                  <input type="text" class="form-control" id="proStock" formControlName="proStock" name="prostock" readonly>
                </div>
                <div class="form-group col-6">
                  <label for="proUnitCost" class="col-sm-3 col-lg-12 col-form-label">Costo Unitario estimado</label>
                  <input type="text" class="form-control" id="proUnitCost" formControlName="proUnitCost" name="proUnitCost" readonly>
                </div>
              </div>
            </div>
            <div class="col col-lg-6">
              <div class="row">
                <div class="form-group">
                  <label for="proDescription" class="col-form-label">Description</label>
                  <input class="form-control" id="proDescription" formControlName="proDescription" required>
                </div>
                <div class="form-group">
                  <label for="proUrlImage" class="col-form-label">Imagen</label>
                  <input type="file" class="form-control" id="proUrlImage" (change)="onFileSelected2($event)">
                  <div *ngIf="formGroupProduct.controls['proUrlImage'].hasError('required') && formGroupProduct.controls['proUrlImage'].touched" class="text-danger">La Imagen es obligatorio</div>
                </div>
                <div class="form-group">
                  <img *ngIf="imageToShow" [src]="imageToShow" class="img-thumbnail mt-2" style="max-width: 300px;">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>
  