<app-base-layout>
  <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="container text-center mt-5">
      <div class="row justify-content-center">
        <div class="container col-sm-12 col-md-10 col-lg-12">
          <div class="border rounded p-4 shadow-sm bg-white">
            <h4 class="mb-4"><b>Registro</b></h4>
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputFirstName">Nombre</label>
                  <input type="text" class="form-control form-control-lg" id="inputFirstName" placeholder="Nombre" formControlName="custFirstName" />
                  <div *ngIf="customerForm.get('custFirstName')?.touched && customerForm.get('custFirstName')?.invalid">
                    <small *ngIf="customerForm.get('custFirstName')?.errors?.['required']" class="text-danger">Nombre es requerido.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputLastName">Apellido</label>
                  <input type="text" class="form-control form-control-lg" id="inputLastName" placeholder="Apellido" formControlName="custLastName" />
                  <div *ngIf="customerForm.get('custLastName')?.touched && customerForm.get('custLastName')?.invalid">
                    <small *ngIf="customerForm.get('custLastName')?.errors?.['required']" class="text-danger">Apellido es requerido.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputDNI">DNI</label>
                  <input type="text" class="form-control form-control-lg" id="inputDNI" placeholder="DNI" formControlName="custDni" />
                  <div *ngIf="customerForm.get('custDni')?.touched && customerForm.get('custDni')?.invalid">
                    <small *ngIf="customerForm.get('custDni')?.errors?.['required']" class="text-danger">DNI es requerido.</small>
                    <small *ngIf="customerForm.get('custDni')?.errors?.['pattern']" class="text-danger">DNI debe tener exactamente 8 dígitos.</small>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputDepartment">Departamento</label>
                  <input type="text" class="form-control form-control-lg" id="inputDepartment" placeholder="Departamento" formControlName="custDepartment" />
                  <div *ngIf="customerForm.get('custDepartment')?.touched && customerForm.get('custDepartment')?.invalid">
                    <small *ngIf="customerForm.get('custDepartment')?.errors?.['required']" class="text-danger">Departamento es requerido.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputBirthDate">Fecha de Nacimiento</label>
                  <input type="date" class="form-control form-control-lg" id="inputBirthDate" formControlName="custBirthDate" />
                  <div *ngIf="customerForm.get('custBirthDate')?.touched && customerForm.get('custBirthDate')?.invalid">
                    <small *ngIf="customerForm.get('custBirthDate')?.errors?.['required']" class="text-danger">Fecha de Nacimiento es requerida.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputCity">Ciudad</label>
                  <input type="text" class="form-control form-control-lg" id="inputCity" placeholder="Ciudad" formControlName="custCity" />
                  <div *ngIf="customerForm.get('custCity')?.touched && customerForm.get('custCity')?.invalid">
                    <small *ngIf="customerForm.get('custCity')?.errors?.['required']" class="text-danger">Ciudad es requerida.</small>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputProvince">Provincia</label>
                  <input type="text" class="form-control form-control-lg" id="inputProvince" placeholder="Provincia" formControlName="custProvince" />
                  <div *ngIf="customerForm.get('custProvince')?.touched && customerForm.get('custProvince')?.invalid">
                    <small *ngIf="customerForm.get('custProvince')?.errors?.['required']" class="text-danger">Provincia es requerida.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputCellphone">Celular</label>
                  <input type="text" class="form-control form-control-lg" id="inputCellphone" placeholder="Celular" formControlName="custCellphone" />
                  <div *ngIf="customerForm.get('custCellphone')?.touched && customerForm.get('custCellphone')?.invalid">
                    <small *ngIf="customerForm.get('custCellphone')?.errors?.['required']" class="text-danger">Celular es requerido.</small>
                    <small *ngIf="customerForm.get('custCellphone')?.errors?.['pattern']" class="text-danger">Celular debe tener exactamente 9 dígitos.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputEmail">Correo</label>
                  <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="Correo electrónico" formControlName="custEmail" />
                  <div *ngIf="customerForm.get('custEmail')?.touched && customerForm.get('custEmail')?.invalid">
                    <small *ngIf="customerForm.get('custEmail')?.errors?.['required']" class="text-danger">Correo es requerido.</small>
                    <small *ngIf="customerForm.get('custEmail')?.errors?.['email']" class="text-danger">Correo no es válido.</small>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-4 form-group">
                  <label for="inputPassword">Contraseña</label>
                  <div class="input-group">
                    <input [type]="passwordFieldType" class="form-control form-control-lg" id="inputPassword" placeholder="Contraseña" formControlName="custPassword" />
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">Mostrar</button>
                    </div>
                  </div>
                  <div *ngIf="customerForm.get('custPassword')?.touched && customerForm.get('custPassword')?.invalid">
                    <small *ngIf="customerForm.get('custPassword')?.errors?.['required']" class="text-danger">Contraseña es requerida.</small>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary btn-lg px-5">Crear</button>
                <a href="/ecommers" class="btn btn-secondary btn-lg px-5">Volver a la tienda</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-base-layout>
